/* public stater */

* {
    padding: 0;
    margin: 0;
}

/* button的样式一 */

.button_style_one {
    width: 150px;
    height: 40px;
    background: rgba(29, 161, 242, 1);
    border-radius: 6px;
    border: 0;
    outline: none;
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

/* button的样式二 */

.button_style_tow {
    width: 150px;
    height: 40px;
    margin-bottom: 30px;
    background: rgba(101, 119, 134, 1);
    border-radius: 6px;
    border: 0;
    outline: none;
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

/*main居中*/

main {
    min-height: 100vh;
    display: flex;
}

/*背景*/

.bg {
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("..//images/bg@2x.png  ") no-repeat 0 0;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.container {
    margin: auto;
    /*main居中*/
}

/*header*/

.container .header {
    margin: 5px auto;
}

.header h1 {
    text-align: center;
    margin: 24px 0 18px;
    font-size: 24px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.header img {
    vertical-align: -10px;
    width: 38px;
    height: 38px;
    margin-right: 10px;
}

/*content*/

.container .content {
    background: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

/* public end */

/* login */

.login-content {
    display: none;
}

.content .login_input_content {
    width: 350px;
    margin: 0 30px;
    padding: 10px 0 5px 0;
    border-bottom: 1px solid rgba(221, 221, 221, 1);
    position: relative;
    overflow: hidden;
}

.login_input_content:nth-child(0n+1) {
    margin-top: 50px;
}

.login_input_content:nth-child(0n+1) input {
    width: 255px;
}

.login_input_content:nth-child(0n+2) input {
    width: 270px;
}

.login_input_content input {
    height: 25px;
    outline: none;
    padding-left: 5px;
    border: 0px;
}

.login_input_content img {
    position: absolute;
    right: 5px;
}

.login_input_content:nth-child(0n+3) {
    overflow: hidden;
    /*清除浮动*/
    border-bottom: 0;
}

.content a {
    float: right;
    text-decoration: none;
    font-family: SimSun;
    font-weight: 400;
    color: rgba(101, 119, 134, 1);
}

.login_input_content:nth-child(0n+4) {
    border-bottom: 0;
}

.login_input_content .register {
    float: left;
}

.login_input_content .login {
    float: right;
}

/* login end */

/*registered stater*/

.container .registration {
    text-align: center;
    display: none;
}

.content .registration_input_content {
    text-align: right;
    margin: 0 86px;
    font-size: 18px;
    font-family: "SimSun";
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 20px;
}

.registration_input_content input {
    width: 350px;
    height: 40px;
    border: 1px solid rgba(221, 221, 221, 1);
    font-size: 18px;
    font-family: "SimSun";
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}

.registration_input_content:nth-child(0n+1) {
    margin-top: 44px;
}

.registration_input_content:nth-child(0n+10) input, .registration_input_content:nth-child(0n+11) input {
    width: 288px;
}

.registration_input_content:nth-last-child(-n+2) {
    margin-bottom: 0;
}

/*registered end*/

/* forget password  stater*/

.forget {
    /* display: none;    */
    font-size: 18px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}

.forget .forget_input_content {
    width: 350px;
    margin: 0 30px;
    padding: 10px 0 5px 0;
    border-bottom: 1px solid rgba(221, 221, 221, 1);

    /* background-color: red; */
}
.forget_input_content:nth-child(1){
    margin-top: 40px;
}
.forget_input_content input {
    height: 25px;
    width: 278px;
    outline: none;
    padding-left: 5px;
    border: 0px;
    font-size:18px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(204,204,204,1);
}

.forget_input_content:nth-child(0n+2) input {
    width: 245px;
}

.forget_input_content button {
    width: 90px;
    height: 30px;
    border: 0;
    font-size: 7px;
    font-family: "Microsoft YaHei";
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    outline: none;
    background: rgba(29, 161, 242, 1);
    border-radius: 6px;
}

.forget_input_content:nth-child(0n+4) input {
    width: 260px;
}

.forget_button {
    text-align: center;
}

.define {
    margin: 40px auto 42px;
}

/* forget password  end*/